*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    padding: 20px;
    text-align: right;
    background-color:rgb(244, 200, 4);
  }
nav a{
    padding: 20px;
}
 nav a.active{
    font-weight: bold;
    text-decoration: none;
 }